@import '../variables';
@import '../mixins';

.container {
  display: flex;
  height: 94vh;
  border: 0.5rem solid $color-grey-dark;
  border-radius: 3rem;

  @include respond(tab-port) {
    display: block;
  }
}
